.bodyhead {
	text-align: center !important;
    background-color: #ffffff;
    background-image: url(../img/header_background.jpg);
    height: 550px;
    
}

body {
    margin: 0;
    padding: 0;
    background-color:  #ffffff;
    overflow-x: hidden;
  }

.mypic {
	margin: 2rem 0;
    width: 150px;
}

.divbody {
	flex-grow: 1;
    flex-shrink: 0;
    padding: 120px 25px 25px;
}

h1, h4 {
	font-family: 'Poppins', sans-serif;
}

.title {
	color: #363636;
    font-size: 2.5rem;
    font-weight: 800;
    line-height: 1.125;
}

.bgimg {
	backface-visibility: hidden;
    position: absolute;
    left: 0px;
    top: -346px;
    z-index: -1;
    max-width: none;
    height: 1349px;
    width: 1349px;
}

.about__title {
    width: 100%;
    margin: 0;
    padding: 2em 0 1em;
    color: #1e73be;
    font-size: 2.5em;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
}

.portfolio {
    background: linear-gradient(-45deg, #ee7752, #00255d, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradientBG 15s ease infinite;
    padding: 10px 0 50px 0;
}
@keyframes gradientBG {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


.portfolio {
    background-color: #ffffff;
}

.about__info__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 0 2em 5em;
}

.about__text {
    min-width: 400px;
    max-width: 960px;
    box-sizing: content-box;
    background-color: #00255d;
    padding: 30px 15px;
    border-left: 15px solid #8d94ba;
}
.about__title__dot, .portfolio__title__dot, .contact__title__dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-left: 5px;
    background-color: #1e73be;
}

.about__title__dot, .portfolio__title__dot, .contact__title__dot {
    animation: blinker .9s linear infinite;
    color: #1e73be; 
}

@keyframes blinker {  
    50% { opacity: 0; }
   }

.manimg {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.aboutme__img {
    width: 30%;
    float: left;
    margin: 30px 0px;;
}

.aboutme__text {
    width: 70%;
    float: right;
}

.title{
    background-color:rgb(255, 255, 255);
    padding: 5px 15px 5px 15px;
    display: inline-block;
    font-size: 35px;
}

.subtitle{
    background-color: #8d94ba;
    display: inline-block;
    padding: 5px 15px 5px 15px;
    margin-top: 3%;
    font-weight: 400;
    font-size: 18px;
}

.header__btn {
    background-color: #e4ab2b;
    color: #fff;
    border-radius: 5px;
    display: inline-block;
    padding: 10px 0px;
    margin-top: 10%;
    width: 180px;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    text-decoration: none;
    font-weight: 400px;
}

.header__btn:hover {
    text-decoration: none;
    color: #fff;
}
.wrapper_sub {
    color: #ffffff;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    display: inline-block;
}
.wrapper p {
	position: relative;
	float: left;
	color: #fff;
	font-family: 'Inconsolata', Consolas, monospace;
    font-size: 4em;
    font-size: 26px;
}
.wrapper p span{
	position: absolute;
	top: 0;
	right: 0;
	background: #00255d;
	width: 100%;
	border-left: .1em solid transparent;
	-webkit-animation: typing 3s steps(16) forwards,
										 cursor 1s infinite;
	animation: typing 3s steps(16) forwards,
						 cursor 1s infinite;
}
/* Animation */
@-webkit-keyframes typing{
	from { width: 100%;}
	to { width: 0;}
}
@-webkit-keyframes cursor{
	50% { border-color: white;}
}
@keyframes typing{
	from{ width: 100%;}
	to{ width: 0;}
}
@keyframes cursor{
	50% { border-color: white;}
}
  
  @keyframes type{ 
    from { width: 0; } 
  } 
  
  @keyframes type2{
    0%{width: 0;}
    50%{width: 0;}
    100%{ width: 100; } 
  } 
  
  @keyframes blink{
    to{opacity: .0;}
  }
  
  ::selection{
    background: black;
  }

.about__text__description_sub {
    color: #ffffff;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

.portfolio {
    padding: 15px 0 15px;
}

.portfolio__description {
    max-width: 65%;
    margin: 0 auto 2em;
    color: #000;
    font-size: 1.2em;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    text-align: center;
}

.portfolio__nav__container {
    max-width: 918px;
    margin: 0 auto 0.2em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    background-color: #00255d;
}
.portfolio__nav__btn {
    width: 128px;
    margin: 1em 0.8em 0.8em;
    padding: 0 5px 4px;
    background-color: transparent;
    color: #fff;
    font-size: 1.1em;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    text-align: center;
    border: none;
    position: relative;
    border-style: solid;
    border-color: #fff;
    border-bottom-width: 2px;
    border-right-width: 2px;
    border-top-width: 2px;
    border-left-width: 2px;
}

.portfolio__nav__btn:hover {
    transition: all .3s linear;
    border-bottom-width: 2px;
    border-right-width: 0px;
    border-top-width: 2px;
    border-left-width: 0px;
}

html {
    scroll-behavior: smooth;
  }

.portfolio__items-container {
    max-width: 918px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    overflow: hidden;
    padding-bottom: 20px;
}

.contact {
    background-color: #000;
    padding-bottom: 25px;
}

.contact__title {
    width: 100%;
    margin: 0;
    padding: 2em 0 1em;
    color: #ffffff;
    font-size: 2.5em;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
}

.contact__description {
    max-width: 65%;
    margin: 0 auto 2em;
    color: #fff;
    font-size: 1.2em;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    text-align: center;
}

.socialmedia__button{
    text-align: center;
}

.fa-instagram {
    background: #125688;
    color: white;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
}

.fa-google {
    background: #dd4b39;
    color: white;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa:hover {
    opacity: none;
    text-decoration: none;
    color: #fff;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 80px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }

.contact__link {
    text-align: center;
    padding: 0px 0px 10px;
}

.contact-link {
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 25px;
    background-color:rgb(255, 255, 255);
    padding: 5px 15px 5px 15px;
    display: inline-block;
}

.footer {
    bottom:0;
    width:100%;
    height:60px;   /* Height of the footer */
    background:#00255d;
    border-top: 1px solid #cfd2e2;
 }

.copyright {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: 15px;
    font-weight: 400; 
    color: #dddddd;
    
}

.footer-menu__list {
    -webkit-box-flex: 2;
    -ms-flex: 2;
    flex: 2;
    text-align: center;
    padding: 0;
}


.row {
    margin: 10px -16px;
  }
  
  /* Add padding BETWEEN each column */
  .row,
  .row > .column {
    padding: 8px;
  }
  
  /* Create three equal columns that floats next to each other */
  .column {
    float: left;
    width: 33.33%;
    display: none; /* Hide all elements by default */
  }
  
  /* Clear floats after rows */ 
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Content */
  .content {
    background-color: #f1f1f1;
    padding: 10px;
  }
  
  /* The "show" class is added to the filtered elements */
  .show {
    display: block;
  }
  